<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
   
    <link href="~/Areas/ModulAdministracija/Content/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Areas/ModulAdministracija/Content/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Areas/ModulAdministracija/Content/vendor/bootstrap/css/bootstrap.css" rel="stylesheet" />
    <link href="~/Areas/ModulAdministracija/Content/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Areas/ModulAdministracija/Content/vendor/datatables/dataTables.bootstrap4.css" rel="stylesheet" />
    @*<link href="~/Content/Site.css" rel="stylesheet" type="text/css" />*@
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Areas/ModulAdministracija/Content/css/sb-admin.css" rel="stylesheet" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
</head>
<body>
    @{
        RS1_P120_MobitelShop.Models.Korisnik korisnik = RS1_P120_MobitelShop.Helper.Autentifikacija.GetLogiraniKorisnik(Context);
    }A

    <div class="container body-content"> 
        @*<div id="loginPopUp" style="display:none">
                @Url.Action("Index", "Login")
            </div>*@
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>

    <script style="font-family:Arial" type="text/javascript">
    $(function () {
        $("#txtSearch").autocomplete({
            source: '@Url.Action("GetStudents","Home")'
        });
            });
    </script>

    <script style="font-family:Arial" type="text/javascript">
        function loginShowPopUp() {
            $("#loginPopUp").dialog({
                height: 650,
                width: 800,
                modal: true,
                buttons: {
                    "Nazad": function () {
                        $(this).dialog("close");
                    }
                }
            });
        }
    </script>
    <script src="~/Areas/ModulAdministracija/Content/vendor/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>
