@model RS1_P120_MobitelShop.Areas.ModulAdministracija.Models.DetaljiNarudzbePrikaziVM
@using RS1_P120_MobitelShop.Areas.ModulAdministracija.Models
@{
    //Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Prikazi</title>
</head>
<body>

 <h3>Detalji narudžbe</h3>
                    <table style="width:10%; height:10%">
                        <thead>
                            <tr>
                                <th>Naziv artikla</th>
                                <th>Količina</th>
                                <th>Cijena</th>
                                <th>Ukupno</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (DetaljiNarudzbePrikaziVM.DetaljiInfo x in Model.detaljiStavke)
                            {
                                <tr>
                                   
                                    <td>
                                        @x.artikalNaziv
                                    </td>
                                    <td>@x.Kolicina</td>  
                                    <td>@x.CijenaArtikla KM</td>  
                                    <td>@x.Ukupno KM</td>                                                     
                                </tr>
                            }
                        </tbody>
                    </table>                
      
              
</body>
</html>
