@using RS1_P120_MobitelShop.Models;
@using RS1_P120_MobitelShop.Areas.ModulAdministracija.Controllers;
@using RS1_P120_MobitelShop.Areas.ModulAdministracija.ViewModels;
@{
    //Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <br />
    <div class="col-xs-pull-10 text-left">
        <span>Trenutno logiran</span>
        <div>
            <span>Administratora:</span>
            @ViewBag.Administratori
        </div>
        <div>
            <span>Klijenata:</span>
            @ViewBag.Klijenti
        </div>
        <div>
            <span>Dobavljača :</span>
            @ViewBag.Dobavljaci
    </div>
        </div>
    <div>
        <a href="/ModulAdministracija/AdminHome/UpravljackaPloca">
            <div class="panel-footer">
                <span class="pull-left">Pregledaj</span>
                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                <div class="clearfix"></div>
            </div>
        </a>
    </div>
    <div>
        <span>Artikli :</span>
      <span>Ukupno na stanju -> </span>  @ViewBag.Artikli
    </div>
    <div>
        <a href="/ModulAdministracija/Artikal/Index">
            <div class="panel-footer">
                <span class="pull-left">Pregledaj</span>
                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                <div class="clearfix"></div>
            </div>
        </a>
    </div>
</body>
</html>
