
@{
    //ViewBag.Title = "UpravljackaPloca";
}

<h2>Upravljačka ploča</h2>


<div id="page-wrapper">
    <div style="margin-left: 250px; margin-right: 30px">
        <h2>Upravljanje korisnicima</h2>    
        <a href="/ModulAdministracija/Administratori/Index" class="btn btn-primary" style="margin: 5px;width: 200px">Upravljanje administratorima</a><br />
        <a href="/ModulAdministracija/Klijenti/Index" class="btn btn-primary" style="margin: 5px;width: 200px">Upravljanje klijentima</a><br />
        <a href="/ModulAdministracija/Dobavljaci/Index" class="btn btn-primary" style="margin: 5px;width: 200px">Upravljanje dobavljačima</a>
    </div>
</div>